* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  /* height: 700px; */
  background-color: green;
  margin: auto;
}

header {
  width: 100%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 10px;
}

main {
  margin-bottom: 10px;
}

.left {
  width: 350px;
  height: 350px;
  background-color: pink;
  padding-right: 30px;
}

.left .inner {
  background-color: black;
  width: 100%;
  height: 350px;
}

.right {
  width: 350px;
  height: 500px;
  background-color: pink;
  padding-left: 30px;
}

.right .inner {
  background-color: black;
  width: 100%;
  height: 500px;
}

.center {
  width: 500px;
  height: 500px;
  background-color: violet;
}

.fl {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  height: 150px;
  background-color: cyan;
}
