* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
}

header {
  width: 100%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 10px;
}

main {
  margin-bottom: 10px;
}


.fl:first-child {
  width: 350px;
  height: 350px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: black;
}

.fl:first-child .inner {
  background-color: pink;
  width: 100%;
  height: 100%;
}

.fl:last-child {
  width: 350px;
  height: 500px;
  padding-left: 30px;
  background-color: black;
}

.fl:last-child .inner {
  width: 100%;
  height: 500px;
}

.inner > div {
  width: 100%;
  height: calc(250px - 20px);
  margin-bottom: 20px;
  background-color: pink;
}

/* In alternativa potrei riscrivere la regola appena sopra utilizzando un selettore meno generico come sotto riportato */
/* .fl:last-child .inner > div {
  width: 100%;
  height: calc(250px - 20px);
  margin-bottom: 20px;
  background-color: pink;
} */

.fl:nth-child(2) {
  width: 500px;
  height: 500px;
  background-color: violet;
}

.fl {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  height: 150px;
  background-color: cyan;
}
